body {
  /*padding-top: 70px;*/
}

.navbar-default .navbar-brand {
  color: #555;
  background-color: #e7e7e7;
}

hr{
  margin: 20px 0;
  border: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #e7e7e7;
}
