{% extends 'schedule-fillr/base.html' %}

{% load static %}

{% block title %}Schedule-fillr -- Schedule{% endblock %}

{% block head %}
<link href="{% static "css/schedule.css" %}" rel="stylesheet">
<!--<style media="screen" type="text/css">
body {background: #E9EAE5;}
</style> -->
{% endblock %}

{% block body_block %}

<div id='sidebar'>
<!--  <h3>Filters</h3>
  <h3 class="pref" data-preference="avoidEarlyClasses"><div class="checkbox"></div>Avoid early classes</h3>
  <h3 class="pref" data-preference="avoidNightClasses"><div class="checkbox"></div>Avoid night classes</h3>
  <h3 class="pref" data-preference="lunchBreak"><div class="checkbox"></div>Lunch break</h3>
  <h3 class="pref" data-preference="longWeekend"><div class="checkbox"></div>Long weekend</h3>
-->
<!--  <h3>Courses</h3> -->
<!--  <input type="text" name="course" id="newCourse" placeholder="+ Course number" /> 
-->
<!--  <div id="currentClasses"></div>
      <div class="class" data_course="15213">
	    <h3>15-213</span></h3> 
      <div class="class" data_course="16311">
	    <h3>16-311</span></h3> 
      <div class="class" data_course="16385">
	    <h3>16-385</span></h3> 
      <div class="class" data_course="15221">
	    <h3>15-221</span></h3> 

    </div>
-->
<button type="button" class='rebuild hidden'>Rebuild Schedules</button>

</div>
<div id='cal'>
  <div id='dates'>
    <div class='date'>Monday</div>
    <div class='date'>Tuesday</div>
    <div class='date'>Wednesday</div>
    <div class='date'>Thursday</div>
    <div class='date'>Friday</div>
  </div>
  
  <div class='day' id='0'></div>
  <div class='day' id='1'></div>
  <div class='day' id='2'></div>
  <div class='day' id='3'></div>
  <div class='day' id='4'></div>

  <div id="labels">
    <div class="timeLabel">7 am</div>
    <div class="timeLabel">8 am</div>
    <div class="timeLabel">9 am</div>
    <div class="timeLabel">10 am</div>
    <div class="timeLabel">11 am</div>
    <div class="timeLabel">12 pm</div>
    <div class="timeLabel">1 pm</div>
    <div class="timeLabel">2 pm</div>
    <div class="timeLabel">3 pm</div>
    <div class="timeLabel">4 pm</div>
    <div class="timeLabel">5 pm</div>
    <div class="timeLabel">6 pm</div>
    <div class="timeLabel">7 pm</div>
    <div class="timeLabel">8 pm</div>
    <div class="timeLabel">9 pm</div>
  </div>
</div>
<script type="text/javascript" src="{% static "js/schedule.js" %}"></script>
{% endblock %}
